# utils
## show history
alias h='history'
alias hg='history | grep $1 --color=auto'
## show path
alias path='echo $PATH | tr ":" "\n"'
## reload
alias bashrc='source ~/.bashrc'
alias zshrc='source ~/.zshrc'

# cd
alias ..='cd ..'
alias ..2='cd ../../'
alias ..3='cd ../../../'

# ls
case "${OSTYPE}" in
darwin*)
  alias ls="ls -G"
  alias ll="ls -lG"
  alias la="ls -laG"
  ;;
linux*)
  alias ls='ls --color'
  alias ll='ls -l --color'
  alias la='ls -la --color'
  ;;
esac

# git
alias g='git'

# docker
## show all docker aliases
alias dockerls='alias | grep docker'
alias dcbuild='docker compose build'
alias dcup='docker compose up'
alias dcdown='docker compose down'
## Remove everything, including related resources
alias dcdown-rma='docker-compose down --rmi all --volumes --remove-orphans'
alias dcps='docker compose ps'
alias dclogs='docker compose logs'
## Start PlantUML Server
## https://github.com/plantuml/plantuml-server
alias drun-plantuml='docker run -d -p 58080:8080 plantuml/plantuml-server:jetty'
