# utils
## show history
alias h='history'
alias hg='history | grep $1 --color=auto'
## show path
alias path='echo $PATH | tr ":" "\n"'
## reload
alias bashrc='source ~/.bashrc'
alias zshrc='source ~/.zshrc'

# ls
case "${OSTYPE}" in
darwin*)
  alias ls="ls -G"
  alias ll="ls -lG"
  alias la="ls -laG"
  ;;
linux*)
  alias ls='ls --color'
  alias ll='ls -l --color'
  alias la='ls -la --color'
  ;;
esac

# git
alias g='git'

# docker
alias dc='docker compose'
## Remove everything, including related resources
alias dcdown-rma='docker-compose down --rmi all --volumes --remove-orphans'

# terraform
alias tf='terraform'
