# utils
alias h='history'
## show path
alias path='echo $PATH | tr ":" "\n"'
## reload
alias bashrc='source ~/.bashrc'
alias zshrc='source ~/.zshrc'

# cd
alias ..='cd ..'
alias ..2='cd ../../'
alias ..3='cd ../../../'

# ls
alias ls='ls --color=auto'
alias ll='ls -l --color=auto'
alias la='ls -la --color=auto'

# git
## show all git aliases
alias gitls='alias | grep git'
alias ga='git add'
alias gb='git branch'
alias gc='git commit'
alias gcm='git commit -m'
alias gca='git commit --amend'
alias gd='git diff'
alias gds='git diff --staged'
alias gf='git fetch'
alias gl='git log --all --graph --decorate --oneline'
alias gpo='git push origin'
alias gs='git status'
alias gsc='git switch -c'
alias gsm='git switch main'

# docker
alias dockerls='alias | grep docker'
alias dcbuild='docker compose build'
alias dcup='docker compose up'
alias dcdown='docker compose down'
## Remove everything, including related resources
alias dcdown-rma='docker-compose down --rmi all --volumes --remove-orphans'
alias dcps='docker compose ps'
alias dclogs='docker compose logs'
