#
# Functions to display the list after moving
#

function cdd() {
    cd "$@" && ls
}
function cddot {
    cd ~/dotfiles/ && ls -a
}
# iCloud Drive
function cdic {
   cdd ~/Library/Mobile\ Documents/com\~apple\~CloudDocs
}
function cdicsc {
    cdd ~/Library/Mobile\ Documents/com\~apple\~CloudDocs/scripts/
}
function cddoc {
    cdd ~/Documents/
}
function cddl {
    cdd ~/Downloads/
}
function cdr {
    cdd ~/repo/
}
function cdrf {
    cdd ~/repo/foderee-new/
}
