#
# Functions to display the list after moving
#

function cdd() {
    cd "$@" && ls
}
function cddot {
    cd ~/dotfiles/ && ls -a
}
# iCloud Drive
function cdic {
   cdd ~/Library/Mobile\ Documents/com\~apple\~CloudDocs
}
function cdsc {
    cdd ~/Library/Mobile\ Documents/com\~apple\~CloudDocs/scripts/
}
function cddoc {
    cdd ~/Documents/
}
function cddl {
    cdd ~/Downloads/
}
function cdp {
    cdd ~/proj/
}
function cdpf {
    cdd ~/proj/foderee/
}

#
# Functions for Go
#

## Generate test template
function gen_go_test() {
    gotests -w -all "$@"
}

#
# Functions for personal development
#

## Send health check request to the container
function healthcheck {
    # Identify the current environment
    if hostname | grep -q "tunetrail-frontend"; then
        echo "Running inside the frontend container"
        echo "Send request from the frontend container. URL: http://tunetrail-api:8080/health"
        curl -i http://tunetrail-api:8080/health
        return
    fi
    if hostname | grep -q "tunetrail-api"; then
        echo "Running inside the api container"
        echo "Send request from the api container. URL: http://localhost:8080/health"
        curl -i http://localhost:8080/health
        return
    fi
    echo "Running on host machine"
    echo "Send request from host machine. URL: http://localhost:18000/health"
    curl -i http://localhost:18000/health
}

## Enter the DB container and log in to PostgreSQL
function login_postgres {
    docker exec -it tunetrail-db bash -c "psql -U tunetrail -d tunetrail"
}
